.mail-list {
  /* grid-template-columns: 10% 10% 65% 10% 5%; */
  padding: 10px;
  max-width: 90%;
  margin: 0 auto;
}

.mail-list table {
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 80%;
}

.mail-list thead {
  background-color: #00b894;
  border: 1px solid black;
}

.mail-list tbody {
  background-color: #b2bec3;
}

td {
  overflow: scroll;
}

td:not(:last-child) {
  border-right: 1px solid black;
}