.compose-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.438);
    z-index: 10;
}

.compose-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 80vw;
}

.compose-modal h3 {
    position: fixed;
    z-index: 20;
    top: 0;
}

.compose-mail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 20;
    background-color: rgb(185, 187, 174);
    height: 70vh;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: center;
    box-shadow: 0 0 15px 0;
}

.compose-subject {
    width: 75%;
    height: auto;
    border: 1px solid black;
}

.compose-body {
    width: 75%;
    height: 60%;
    border: 1px solid black;
}

.compose-mail .edit-line {
    grid-column: 1 / -1;
    width: 50%;
    justify-content: space-around;
}