.mail p {
  border-bottom: 1px solid black;
}

.mail {
  width: 100%;
}

.mail-details .edit-mail {
  justify-content: space-evenly;
  padding: 20px;
}

.mail-details .labels {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}

.replay-btn {
  color: black;
  border: 1px solid black;
  padding-inline: 5px;
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
  font-size: 0.9rem;
}