/* Flex */
.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.left-self {
  align-self: flex-start;
}

.center-self {
  align-self: center;
}

.right-self {
  align-self: flex-end;
}

.left {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.right {
  align-items: flex-end;
}

/* GRID */

.grid {
  display: grid;
}

.grid-gap {
  gap: 10px 10px;
}

/* LIST */
.clean-list {
  list-style: none;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

/* Anchor */
.decoration-none {
  text-decoration: none;
}





/* MARGIN */
.mb-1 {
  margin-bottom: 0.3rem;
}

.mb-2 {
  margin-bottom: 0.6rem;
}

.mb3- {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

/* PADDING */

.pb-1 {
  padding-bottom: 0.3rem;
}

.pb-2 {
  padding-bottom: 0.6rem;
}

.pb3- {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

/* COLORS */
.red {
  color: red;
}
.green {
  color: green;
}
.black{
  color: black;
}
.white{
  color: white;
}
