@import "../../apps/mail/assets/css/mail-main.css";
@import "./cmps/nav-header-cmps.css";
@import "./helpers.css";
@import "../../apps/book/assets/css/book-main.css";
@import "../../apps/mail/assets/css/mail-main.css";
@import "../../apps/note/assets/css/note-main.css";
body {
  background-color: lightblue;
}

.loader {
  width: 40vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
