@import "./cmps/nav-header-cmps.css";
@import "./helpers.css";
@import "./cmps/modal.css";
@import "../../apps/book/assets/css/book-main.css";
@import "../../apps/mail/assets/css/mail-main.css";
@import "../../apps/note/assets/css/note-main.css";
body {
    background-color: lightblue;
}

.user-preview {
    background-color: darkcyan;
    padding: 5px;
    width: 200px;
    text-align: center;    
}
.user-preview button {
    margin: 5px;
}