.book-app {
    overflow: auto;
}

.book-filter {
    flex-direction: column;
    padding: 5px;
}

.book-filter>* {
    padding: 5px;
}

.book-filter-btn {
    margin-top: 10px;
}

.book-container {
    display: flex;
    flex-direction: column;
}