
.note-btn{
    border:none;
    font-size:1.2rem;
    cursor: pointer;
    background-color:inherit;
}


.color-line{
    width:100%;
}

.color-btn{
    border:none;
    padding:.6rem;
    border-radius:50%;
    margin-inline-end: .2rem;
    border: 1px solid black;
}